# Python
__pycache__/
*.pyc
*.pyo
.venv/

# IDE
.idea/

# Database
*.db

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!terraform.tfvars.example

# OS
.DS_Store
Thumbs.db

# Environment
.env
